body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container-fluid.hero {
  padding: 0;
  height: 90vh;
}

.container-fluid.hero .row .col-sm-12 {
  height: 90vh;
  position: relative;
}

.container-fluid.hero img {
  height: inherit;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  position: absolute;
  z-index: -3;
}

.container-fluid.hero h1 {
  font-size: 6rem;
  color:white;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.container-fluid.hero p {
  font-size: 2rem;
  color:white;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

.boxer {
  padding: 50px;
}

.example {
margin-bottom: 50px;
}
.example .col-md-6 {
  padding: 0;
}
.example img {
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.15);
  display: block;
  height: auto;
  width: 400px;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
}

.text-line-separate {
  display: flex;
}

.example p {
  font-weight: 100;
  font-size: 1.7rem;
}


